<article class="col-12 col-md-6 col-lg-4">
    <a class="card signpost-card border-0 h-100 text-dark text-decoration-none" href="{{ post.path }}">
        {% set image_src = post.thumbnail.src %}
        {% if image_src|default %}
            <div class="w-100 card-img card-img-top mx-auto mt-4 ratio ratio-16x9 rounded rounded-2"
                 style="background-image: url({{ image_src }})">
            </div>
        {% endif %}
        {% set classes = image_src|default ? 'justify-content-center': 'justify-content-center align-items-center' %}
        <div class="card-body d-flex flex-column align-middle {{ classes }}" style="min-height: 6em;">
            <h5 class="card-title {{ post.post_excerpt|default|length > 0 ? '' : 'text-center' }}">
                {{ post.title }}
            </h5>
            <p class="small card-text {{ post.post_excerpt|default|length > 0 ? 'mt-auto' : '' }}" style="text-align: justify;">
                {{ post.post_excerpt }}
            </p>
        </div>
    </a>
</article>
