{% set category_name = 'Studijní materiály' %}
{% set sub_category_name = 'Mapa chemického průmyslu ČR a SR' %}
{% extends "post-types/page.html.twig" %}

{% block article_content %}
    <section class="row" style="margin-top: -1em;">
        <div class="col text-left">
            <p>
                <a href="/kategorie-studijnich-materialu/interaktivni-mapa-chemickeho-prumyslu-cr/">
                    &xlarr; Zpět na mapu
                </a>
            </p>
        </div>
    </section>

    <section class="row">
        <div class="col pb-0 text-justify">
            <p>{{ post.post_excerpt|default }}</p>
        </div>
        {% if get_image(post.meta('_company_logo')).src|default %}
            <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                <img class="d-block w-100 mh-100 p-2"
                     src="{{ get_image(post.meta('_company_logo')).src }}"
                     alt="{{ get_image(post.meta('_company_logo')).alt }}">
            </div>
        {% endif %}
    </section>

    <section class="row my-3">
        {% if post.locations|length > 0 %}
            <div class="col-12 col-lg-6">
                <h4>Provozovny</h4>
                <ul>
                    {% for location in post.locations %}
                        <li class="text-uppercase">
                            <strong>{{ location.location_name }}</strong><br>
                            {{ location.location_address }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if post.meta('_company_url') or post.meta('_company_email') or post.meta('_company_phone') %}
            <div class="col-12 col-lg-6">
                <h4>Kontakt</h4>
                <ul>
                    {% if post.meta('_company_url') %}
                        <li>
                            <strong>Web:</strong>
                            <a href="{{ post.meta('_company_url') }}" title="{{ post.title }}">
                                {{ post.meta('_company_url') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if post.meta('_company_email') %}
                        <li>
                            <strong>E-mail:</strong>
                            <a href="mailto:{{ post.meta('_company_url') }}" title="{{ post.title }}">
                                {{ post.meta('_company_email') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if post.meta('_company_phone') %}
                        <li>
                            <strong>Telefon:</strong>
                            <a href="call:{{ post.meta('_company_phone') }}" title="{{ post.title }}">
                                {{ post.meta('_company_phone') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

        {% if post.activities|length > 0 %}
            <div class="col-12 col-lg-6">
                <h4>Výroba</h4>
                <ul>
                    {% for activity in post.activities %}
                        <li class="text-uppercase">
                            <strong>{{ activity.activity_name }}</strong><br>
                            {{ activity.activity_description }}
                            {% if activity.activity_more_info_link %}
                                [<a href="{{ activity.activity_more_info_link }}" target="_blank">více zde</a>]
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if post.documents|length > 0 %}
            <div class="col-12 col-lg-6">
                <h4>Podklady pro exkurze</h4>
                <ul>
                    {% for document in post.documents %}
                        <li>
                            <strong>
                                <a href="{{ get_attachment(document.document_file).src }}" target="_blank">
                                    {{ document.document_name }}
                                </a>
                            </strong>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </section>

    <section class="row my-3">
        <div class="col-12">
            {{ post.content }}
        </div>
    </section>
{% endblock article_content %}

{% block article_signpost %}
{% endblock article_signpost %}
