{% extends "post-types/page.html.twig" %}

{% block article_content %}
    <!-- VYUKOVY MATERIAL -->

    {% if post.meta('_youtube_video_url') %}
        <div class="row my-2">
            <div class="col-12 col-md-2 d-flex flex-column align-items-center justify-content-center">
                {% for symbol in post.difficultySymbols %}
                    <div class="p-3">
                        <img src="{{ get_image(symbol.symbol).src }}" class="img-fluid" alt="Náročnost experimentu">
                    </div>
                {% endfor %}
            </div>
            <div class="col-12 col-md-8 ratio ratio-16x9">
                <!--suppress HtmlDeprecatedAttribute -->
                <iframe class="w-100 h-100"
                        src="https://www.youtube.com/embed/{{ post.meta('_youtube_video_url') }}"
                        title="{{ post.title }}"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
            <div class="col-12 col-md-2">
                {% for symbol in post.safetySymbols %}
                    <div class="p-3">
                        <img src="{{ get_image(symbol.symbol).src }}" class="img-fluid" alt="Bezpečnostní pokyny">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if (post.content|default and post.content|length > 0) or (content|default and content|length > 0) %}
        <div class="row my-5">
            <div class="col-12 text-justify">
                {{ post.content|default(content|default) }}
            </div>
        </div>
    {% endif %}
    <div class="row my-5">
        {% if post.presentations|length > 0 %}
            <div class="col-12">
                <h3>Prezentace</h3>
                <ul>
                    {% for document in post.presentations %}
                        <li>
                            <strong>
                                <a href="{{ get_attachment(document.document_file).src }}" target="_blank">
                                    {{ document.document_name }}
                                </a>
                            </strong>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if post.handouts|length > 0 %}
            <div class="col-12">
                <h3>Pracovní listy</h3>
                <ul>
                    {% for document in post.handouts %}
                        <li>
                            <strong>
                                <a href="{{ get_attachment(document.document_file).src }}" target="_blank">
                                    {{ document.document_name }}
                                </a>
                            </strong>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock article_content %}

{% block article_signpost %}
{% endblock article_signpost %}
