{% extends "post-types/page.html.twig" %}

{# Page with list of teaching materials. #}

{% block article_content %}
    {{ dump() }}
    <!-- Oblast: {{ subtype|default('neuvedena') }} -->
    {% if (post.content|default and post.content|length > 0) or (content|default and content|length > 0) %}
        <section class="row my-3">
            <div class="col-12">
                {{ post.content|default(content|default) }}
            </div>
        </section>
    {% endif %}
    {% for material in materials %}
        <section class="row my-5">
            <div class="col-12 col-md-8 col-lg-9 d-flex align-items-start flex-column">
                <a href="{{ material.link }}" class="text-dark text-decoration-none">
                    <h3>{{ material.title }}</h3>
                </a>
                <div style="text-align: justify;">
                    {{ material.content }}
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center order-lg-first">
                {% set image_src = material.thumbnail.src|default(get_image(material.meta('_menu_image')).src|default) %}
                {% if image_src|default and image_src|length > 0 %}
                    <a href="{{ material.link }}" title="{{ material.title }}">
                        <img class="d-block w-100 mh-100 p-2 img-thumbnail" src="{{ image_src }}" alt="{{ material.thumbnail.alt }}">
                    </a>
                {% endif %}
                {% if material.documents|length > 0 %}
                    <ul>
                        {% for document in material.documents %}
                            <li class="text-uppercase">
                                <strong>
                                    <a href="{{ get_attachment(document.document_file).link }}" target="_blank">
                                        {{ document.document_name }}
                                    </a>
                                </strong>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </section>
    {% endfor %}
{% endblock article_content %}

{% block article_signpost %}
{% endblock article_signpost %}
