{% extends "post-types/page.html.twig" %}

{# Page with list of teaching materials. #}

{% block article_content %}
    {% if (post.content|default and post.content|length > 0) or (content|default and content|length > 0) %}
        <section class="row my-3 mt-5">
            <div class="col-12">
                {{ post.content|default(content|default) }}
            </div>
        </section>
    {% endif %}

    {% if subtypes|length > 1 %}
        <div class="row px-2 mt-0 mb-0" style="line-height: 1.1;">
            <!-- {{ subtype }} -->
            {% for oneSubType in subtypes %}
                <!-- ONE SUBTYPE -->
                {% set classes_common = "d-flex col m-0 mt-3 mx-1 px-5 px-xl-4 py-2 text-center align-items-center justify-content-center" %}
                {% set classes_border = "border border-2 border-primary" %}
                {% set classes = classes_common ~ " " ~ classes_border %}
                {% if subtype == oneSubType.slug %}
                    <a class="{{ classes }} bg-white text-primary" href="?oblast={{ oneSubType.slug }}"
                       style="border-top-left-radius: 1.25em !important; border-top-right-radius: 1.25em !important;">
                        <strong>{{ oneSubType.name }}</strong>
                    </a>
                {% else %}
                    <a class="{{ classes }} bg-primary text-white" href="?oblast={{ oneSubType.slug }}"
                       style="border-top-left-radius: 1.25em !important; border-top-right-radius: 1.25em !important;">
                        {{ oneSubType.name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% for material in materials %}
        {% include 'post-previews/_post_preview_horizontal.html.twig' with {post: material} %}
    {% endfor %}
    {% if materials|length < 1 %}
        <section class="row my-5">
            <div class="col-12">
                <p><strong>V této kategorii bohužel zatím nejsou žádné materiály.</strong></p>
            </div>
        </section>
    {% endif %}
{% endblock article_content %}

{% block article_signpost %}
{% endblock article_signpost %}
