{% extends "post-types/page.html.twig" %}

{% block article_content %}
    <!-- VYUKOVY MATERIAL -->
    {% if (post.content|default and post.content|length > 0) or (content|default and content|length > 0) %}
        <div class="row my-5">
            <div class="col-12 text-justify">
                {{ post.content|default(content|default) }}
            </div>
        </div>
    {% endif %}
    <div class="row my-5">
        {% if post.presentations|length > 0 %}
            <div class="col-12">
                <h3>Prezentace</h3>
                <ul>
                    {% for document in post.presentations %}
                        <li>
                            <strong>
                                <a href="{{ get_attachment(document.document_file).src }}" target="_blank">
                                    {{ document.document_name }}
                                </a>
                            </strong>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if post.handouts|length > 0 %}
            <div class="col-12">
                <h3>Pracovní listy</h3>
                <ul>
                    {% for document in post.handouts %}
                        <li>
                            <strong>
                                <a href="{{ get_attachment(document.document_file).src }}" target="_blank">
                                    {{ document.document_name }}
                                </a>
                            </strong>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock article_content %}

{% block article_signpost %}
{% endblock article_signpost %}
