{% extends "post-types/page.html.twig" %}

{# Page with list of teaching materials. #}

{% block article_content %}
    {{ dump() }}
    <!-- Oblast: {{ subtype|default('neuvedena') }} -->
    {% if (post.content|default and post.content|length > 0) or (content|default and content|length > 0) %}
        <section class="row my-3">
            <div class="col-12">
                {{ post.content|default(content|default) }}
            </div>
        </section>
    {% endif %}

    {% if subtypes|length > 1 %}
        <div class="row mt-3 mb-0">
            {% for oneSubType in subtypes %}
                <!-- ONE SUBTYPE -->
                {% set classes_common = "d-flex col my-3 mx-1 px-5 px-xl-4 py-2 text-center align-items-center justify-content-center" %}
                {% set classes_border = "border border-bottom-0 border-3 border-dark rounded-bottom rounded-pill" %}
                {% set classes = classes_common ~ " " ~ classes_border %}
                {% if subtype == oneSubType.slug %}
                    <a class="{{ classes }} bg-white text-secondary" href="?oblast={{ oneSubType.slug }}">
                        <strong>{{ oneSubType.name }}</strong>
                    </a>
                {% else %}
                    <a class="{{ classes }} bg-secondary text-white" href="?oblast={{ oneSubType.slug }}">
                        {{ oneSubType.name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% for material in materials %}
        <section class="row my-5">
            <div class="col-12 col-md-8 d-flex align-items-start flex-column">
                <a href="{{ material.link }}" class="text-dark text-decoration-none">
                    <h3>{{ material.title }}</h3>
                </a>
                <div style="text-align: justify;">
                    {{ material.content }}
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column justify-content-center order-lg-first">
                {% set image_src = material.thumbnail.src|default(get_image(material.meta('_menu_image')).src|default) %}
                {% if image_src|default and image_src|length > 0 %}
                    <a href="{{ material.link }}" title="{{ material.title }}" class="mb-3">
                        <img class="d-block w-100 mh-100 p-2 img-thumbnail" src="{{ image_src }}" alt="{{ material.thumbnail.alt }}">
                    </a>
                {% endif %}
                {% for document in material.documents %}
                    <p class="text-center mb-2">
                        <a href="{{ get_attachment(document.document_file).src }}" target="_blank">
                            <strong><small>{{ document.document_name }}</small></strong>
                        </a>
                    </p>
                {% endfor %}
            </div>
        </section>
    {% endfor %}
{% endblock article_content %}

{% block article_signpost %}
{% endblock article_signpost %}
