{% if subtypes|length > 1 %}
    <div class="row px-2 mt-0 mb-0" style="line-height: 1.1;">
        {% for oneSubType in subtypes %}
            {% set classes_common = "d-flex col m-0 mt-3 mx-1 px-5 px-xl-4 py-2 text-center align-items-center justify-content-center" %}
            {% set classes_border = "border border-2 border-primary" %}
            {% set classes = classes_common ~ " " ~ classes_border %}
            {% if subtype == oneSubType.slug %}
                <a class="{{ classes }} bg-white text-primary" href="?oblast={{ oneSubType.slug }}"
                   style="border-top-left-radius: 1.2em !important; border-top-right-radius: 1.2em !important; max-width: 12em;">
                    <strong>{{ oneSubType.name }}</strong>
                </a>
            {% else %}
                <a class="{{ classes }} bg-primary text-white" href="?oblast={{ oneSubType.slug }}"
                   style="border-top-left-radius: 1.2em !important; border-top-right-radius: 1.2em !important; max-width: 12em;">
                    {{ oneSubType.name }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
