{% if tabs|length > 0 %}
    <nav class="nav row my-3 mx-0 mb-4 p-0 rounded-tabs" id="nav-tab">
        {% set iter = 0 %}
        {% for index, tab in tabs %}
            {% set active = iter < 1 ? 'active' : '' %}
            <h3 class="rounded-tab col m-0 mt-3 mx-1 px-5 px-xl-4 py-2 border border-2 border-primary {{ active }}"
                id="nav-tab-{{ index }}"
                data-bs-toggle="tab"
                data-bs-target="#nav-{{ index }}"
                type="button"
                role="tab"
                aria-controls="nav-{{ index }}"
                aria-selected="{{ iter < 1 ? 'true' : 'false' }}">
                {{ tab.tab_title|default(tab.title) }}
            </h3>
            {% set iter = iter + 1 %}
        {% endfor %}
    </nav>
    <section class="row">
        <div class="tab-content col-12" id="nav-tabContent">
            {% set iter = 0 %}
            {% for index, tab in tabs %}
                <div class="tab-pane fade {{ iter < 1 ? ' show active' : '' }}"
                     id="nav-{{ index }}"
                     role="tabpanel"
                     aria-labelledby="nav-tab-{{ index }}">
                    {% filter shortcodes %}
                        {{ tab.tab_content|default(tab.content)|shortcodes }}
                    {% endfilter %}
                </div>
                {% set iter = iter + 1 %}
            {% endfor %}
        </div>
    </section>
{% endif %}
