<div class="interactive-periodical-table">

    {% set columnIndexRows = [1, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 1] %}
    {% for columnIndex in 1..18 %}
        <div class="index index-column" style="grid-row: {{ columnIndexRows[columnIndex - 1] }}; grid-column: {{ columnIndex + 1 }};">
            {{ columnIndex }}
        </div>
    {% endfor %}
    {% for rowIndex in 1..10 %}
        {% if rowIndex != 8 %}
            <div class="index index-row" style="grid-row: {{ rowIndex + 1 }}; grid-column: 1; text-align: right;">
                {{ rowIndex }}
            </div>
        {% endif %}
    {% endfor %}

    {% for element in elements %}
        {% if element.period and element.periodicalGroup %}
            {% set col = element.periodicalGroup + 1 %}
            {% set row = element.period + 1 %}
        {% endif %}
        {% if row and col %}
            {% set color = element.color|default ? ' background-color: ' ~ element.color ~ '; ' : '' %}
            <div class="element" style="grid-column: {{ col }}; grid-row: {{ row }};{{ color }}">
                <div class="element-content">
                    <span class="atomic-number">
                        {{ element.protonNumber }}
                    </span>
                    <span class="symbol">
                        {{ element.symbol }}
                    </span>
                    <span class="name d-none d-md-block">
                        {{ element.nameCz }}
                    </span>
                    <span class="atomic-weight d-none d-md-block">
                        {{ element.relativeAtomicWeight }}
                    </span>
                    <span class="d-md-none"></span>
                </div>
            </div>
        {% endif %}
    {% endfor %}

</div>
