<div class="interactive-periodical-table">

    {% for columnIndex in 1..18 %}
        <div style="grid-row: 1; grid-column: {{ columnIndex + 1 }}; vertical-align: bottom;">
            {{ columnIndex }}
        </div>
    {% endfor %}
    {% for rowIndex in 1..10 %}
        {% if rowIndex != 8 %}
            <div style="grid-row: {{ rowIndex + 1 }}; grid-column: 1; text-align: right;">
                {{ rowIndex }}
            </div>
        {% endif %}
    {% endfor %}

    {% for element in elements %}
        {% if element.period and element.periodical_group %}
            {% set col = element.periodical_group + 1 %}
            {% set row = element.period + 1 %}
        {% elseif element.atomic_number >= 58 and element.atomic_number <= 71 %}
            {% set col = element.atomic_number - 54 %}
            {% set row = 10 %}
        {% elseif element.atomic_number >= 90 and element.atomic_number <= 103 %}
            {% set col = element.atomic_number - 86 %}
            {% set row = 11 %}
        {% endif %}
        {% if row and col %}
            <div class="element" style="grid-column: {{ col }}; grid-row: {{ row }};">
                <div class="element-content">
                    <small>{{ element.atomic_number }}</small>
                    <strong>{{ element.symbol }}</strong>
                    <small>{{ element.name_cz }}</small>
                    <small>{{ element.atomic_weight }}</small>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div style="grid-column: 1 / 2; grid-row: 1 / 2;"></div>
    <div style="grid-column: 3 / 4; grid-row: 2 / 3;"></div>
    <div style="grid-column: 4 / 14; grid-row: 2 / 5;"></div>
    <div style="grid-column: 14 / 19; grid-row: 2 / 3;"></div>
    <div style="grid-column: 1 / 20; grid-row: 9 / 10; background-color: lightgrey;"></div>
    <div style="grid-column: 1 / 5; grid-row: 10 / 12;"></div>

</div>
