<div id="interactive-periodical-table" class="interactive-periodical-table">

    <div style="grid-column: 1; grid-row: 1;"></div>
    <div style="grid-column: 3; grid-row: 2;"></div>
    <div style="grid-column: 4 / 13; grid-row: 2 / 4;"></div>
    <div style="grid-column: 14 / 18; grid-row: 2;"></div>
    <div style="grid-column: 1 / 19; grid-row: 9; background-color: lightgrey;"></div>
    <div style="grid-column: 1 / 5; grid-row: 10 / 11;"></div>

    {% set index = 1 %}
    {% for rowIndex in 1..11 %}
        {% if rowIndex > 1 %}
            <div style="grid-row: {{ rowIndex }}; grid-column: 1;">
                {{ rowIndex - 1 }}
            </div>
        {% endif %}
        {% for columnIndex in 1..19 %}
            <div style="grid-row: {{ rowIndex }}; grid-column: {{ columnIndex }}; background-color: lightgreen; border: 1px solid red;">
                {% if rowIndex == 0 %}
                    {{ columnIndex - 1 }}
                {% else %}
                    Fe ({{ index }})
                {% endif %}
            </div>
            {% set index = index + 1 %}
        {% endfor %}
    {% endfor %}

</div>