{% extends "post-types/page.html.twig" %}

{% block page_content %}
    <main class="container content-wrapper">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            {% include 'post-parts/page-banner-header-row.html.twig' with {image: post.thumbnail, title: post.title} %}
            <div class="row post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
                {% if post.content %}
                    <section class="col-12">
                        {{ post.content }}
                    </section>
                {% endif %}
                <section class="col-12 col-lg-6">
                    {% for singleContact in contacts %}
                        <div class="department-contact mb-5">
                            <h3>{{ singleContact.name|default(singleContact.department) }}</h3>
                            <address>
                                {% if singleContact.department %}
                                    <strong>{{ singleContact.department }}</strong><br>
                                {% endif %}
                                {% if singleContact.department %}
                                    {{ singleContact.faculty }}<br>
                                {% endif %}
                                {% if singleContact.department %}
                                    {{ singleContact.university }}<br>
                                {% endif %}
                                {% if singleContact.department %}
                                    {{ singleContact.street }} {{ singleContact.house_number }}<br>
                                {% endif %}
                                {% if singleContact.department %}
                                    {{ singleContact.postal_code }} {{ singleContact.city }}<br>
                                {% endif %}
                                {% if singleContact.department %}
                                    Telefon: {{ singleContact.phone }}<br>
                                {% endif %}
                                {% if singleContact.department %}
                                    Fax: {{ singleContact.fax }}<br>
                                {% endif %}
                                {% if singleContact.department %}
                                    E-mail: {{ singleContact.e_mail }}<br>
                                {% endif %}
                                {% if singleContact.department %}
                                    GPS: {{ singleContact.gps }}<br>
                                {% endif %}
                            </address>
                        </div>
                    {% endfor %}
                </section>
                <section class="col-12 col-lg-6">
                    {% for department in departments %}
                        <div class="sub-department mb-5">
                            <h4>
                                {{ department.name|default('Další kontakty') }}
                            </h4>
                            {% for person in department.persons %}
                                <div class="sub-department-person mb-3">
                                    <h5>{{ person }}</h5>
                                    {% if person.meta('position') %}
                                        <strong>{{ person.meta('position') }}</strong><br>
                                    {% endif %}
                                    {% if person.meta('phone') %}
                                        Telefon: {{ person.meta('phone') }}<br>
                                    {% endif %}
                                    {% if person.meta('fax') %}
                                        Fax: {{ person.meta('fax') }}<br>
                                    {% endif %}
                                    {% if person.meta('e_mail') %}
                                        E-mail: {{ person.meta('e_mail') }}<br>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </section>
            </div>
        </article>
    </main>
{% endblock page_content %}
