{% if posts|default and posts|length > 0 %}
    <nav class="container">
        <div class="row g-5 justify-content-md-center">
            {% for post in posts %}
                {% set imgSrc = post.thumbnail.src('small')|default(site.theme.link ~ '/images/symbols/reaction.png') %}
                {% set imgAlt = post.thumbnail.alt|default(post.title) %}
                <div class="col-12 col-md-6 col-lg-4">
                    <a class="card signpost-card border-0 h-100 text-dark text-decoration-none" href="{{ post.path }}">
                        <img src="{{ imgSrc }}" class="card-img-top mx-auto" alt="{{ imgAlt }}">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ post.title }}
                            </h5>
                            <p class="card-text">
                                {{ post.description }}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </nav>
{% endif %}
