{% if post.prew or post.next %}
    <!--
    <div>
    {% if post.prev %}
        <a style="float: left;" href="{{ post.prev.link }}">{{ post.prev.title }}</a>
    {% endif %}
    {% if post.next %}
        <a style="float: right;" href="{{ post.next.link }}">{{ post.next.title }}</a>
    {% endif %}
    </div>
    -->
{% endif %}

{#
{% if posts.pagination.pages is not empty %}
    <nav class="row pagination-block">
        <ul class="pagination">

            {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                <li class="first btn">
                    <a href="{{ posts.pagination.pages|first.link }}">První stránka</a>
                </li>
            {% else %}
                <li class="first btn disabled">
                    <button disabled>První stránka</button>
                </li>
            {% endif %}

            {% if posts.pagination.prev %}
                <li class="prev btn">
                    <a href="{{ posts.pagination.prev.link }}">Předchozí</a>
                </li>
            {% else %}
                <li class="prev btn disabled">
                    <button disabled>Předchodzí</button>
                </li>
            {% endif %}

            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li>
                        <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="current">
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if posts.pagination.next %}
                <li class="next btn">
                    <a href="{{ posts.pagination.next.link }}">Následující</a>
                </li>
            {% else %}
                <li class="next btn disabled">
                    <button disabled>Následující</button>
                </li>
            {% endif %}

            {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                <li class="last btn">
                    <a href="{{ posts.pagination.pages|last.link }}">Poslední stránka</a>
                </li>
            {% else %}
                <li class="last btn disabled">
                    <button disabled>Poslední stránka</button>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
#}
