{% extends "post-types/page.html.twig" %}

{# Page with contacts. #}

{% block page_content %}
    <section class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        {% include 'layout/main-banner.html.twig' with {image: post.thumbnail, title: post.title} %}
        <div class="row post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            {% if post.content|default %}
                <article class="col-12">
                    {{ post.content }}
                </article>
            {% endif %}
            <section class="col-12 col-lg-6">
                {% include 'post-parts/contact/contact-organization.html.twig' %}
            </section>
            <section class="col-12 col-lg-6">
                {% for department in departments %}
                    {% include 'post-parts/contact/contact-department.html.twig' %}
                {% endfor %}
            </section>
        </div>
    </section>
{% endblock page_content %}
