{% extends "post-types/page.html.twig" %}

{# Page with list of industry materials. #}

{% block article_content %}
    {% for element in elements %}
        <section class="row my-5">
            <div class="col-12 col-md d-flex align-items-start flex-column py-1">
                <a href="{{ element.link }}" class="text-dark text-decoration-none">
                    <h3>{{ element.title }}</h3>
                </a>
                <div style="text-align: justify;">
                    {{ element.content }}
                </div>
                <nav class="mt-auto">
                    [<a href="{{ element.link }}" title="{{ element.title }}">více informací</a>]
                </nav>
            </div>
            {% if get_image(element.meta('_material_image')).src|default %}
                <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                    <a href="{{ element.link }}" title="{{ element.title }}">
                        <img class="d-block w-100 mh-100 p-2 img-thumbnail"
                             src="{{ get_image(element.meta('_material_image')).src }}"
                             alt="{{ get_image(element.meta('_material_image')).alt }}">
                    </a>
                </div>
            {% endif %}
        </section>
    {% endfor %}
    {% if (post.content|default and post.content|length > 0) or (content|default and content|length > 0) %}
        <section class="row my-5">
            <div class="col-12">
                {{ post.content|default(content|default) }}
            </div>
        </section>
    {% endif %}
{% endblock article_content %}
