{% extends "post-types/page.html.twig" %}

{# Page with interactive industry map. #}

{% block article_content %}
    <nav class="nav row mt-3 rounded-tabs" id="nav-tab">
        {% set tabs = ['Mapa', 'Podklady pro exkurze'] %}
        {% for index, tab in tabs %}
            {% set active = index < 1 ? 'active' : '' %}
            <button class="rounded-tab col m-0 mt-3 mx-1 px-5 px-xl-4 py-2 border border-2 border-primary {{ active }}"
                    id="nav-tab-{{ index }}"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-{{ index }}"
                    type="button"
                    role="tab"
                    aria-controls="nav-{{ index }}"
                    aria-selected="{{ index < 1 ? 'true' : 'false' }}">
                {{ tab }}
            </button>
        {% endfor %}
    </nav>
    {% if post.content|default %}
        <div class="row">
            <div class="col-12">
                {{ post.content }}
            </div>
        </div>
    {% endif %}
    <article class="row mt-1 mb-3 g-5 justify-content-md-center tab-content" id="nav-tabContent">
        <section class="col-12 tab-pane fade show active" id="nav-0" role="tabpanel" aria-labelledby="nav-tab-0">
            <p>
                V této mapě jsou uvedeny jednotlivé chemické podniky. Po kliknutí na daný bod můžete získat stručné informace o podniku a o exkurzích, které podnik poskytuje.
            </p>
            <p>
                Chcete-li získat materiály pro dané exkurze, přejděte na kartu – podklady pro exkurze.
            </p>
            <div class="ratio ratio-1x1">
                <!--suppress HtmlDeprecatedAttribute -->
                <iframe src="https://storymaps.arcgis.com/stories/c3a96e21120e4b8484660bafdde7660d"
                        id="interactive-map"
                        allowfullscreen
                        style="border: 0 none; width: 100%; overflow: hidden;"
                        scrolling="no"
                        allow="geolocation">
                    Interaktivní mapa chemických podniků se načítá...
                </iframe>
            </div>
        </section>
        <section class="w-100 tab-pane fade" id="nav-1" role="tabpanel" aria-labelledby="nav-tab-1">
            <p>
                Chcete získat podklady pro jednotlivé exkurze? Po kliknutí na daný podnik se Vám otevře stránka, na které můžete získat jednotlivé dokumenty a zjistit
                zajímavé informace o daných podnicích.
            </p>
            <nav class="row mt-3 mb-5 g-5 justify-content-md-center">
                {% for company in companies %}
                    <article class="col-12 col-md-6 col-lg-4">
                        <a class="card signpost-card border-0 h-100 text-dark text-decoration-none" href="{{ company.path }}">
                            {% set image_src = company.logo|default(company.thumbnail.src|default) %}
                            {% if image_src|default %}
                                <div class="w-100 card-img card-img-top mx-auto mt-4 ratio ratio-16x9 rounded rounded-2"
                                     style="background-image: url({{ image_src }})">
                                </div>
                            {% endif %}
                            <div class="card-body d-flex flex-column align-middle justify-content-center" style="min-height: 6em;">
                                <h5 class="card-title text-center">
                                    {{ company.title }}
                                </h5>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </nav>
        </section>

    </article>
{% endblock article_content %}
