{% extends "post-types/page.html.twig" %}

{# Page with interactive industry map. #}

{% block page_content %}
    {% block article_content %}
        <article class="row post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="col-12">
                {{ post.content }}
            </section>
            <section class="col-12 m-0 p-0 ratio ratio-16x9">
                 <iframe src="https://storymaps.arcgis.com/stories/c3a96e21120e4b8484660bafdde7660d"
                 allowfullscreen
                 width="100%"
                 height="100%"
                 style="border: 0 none; width: 100%; height: 100%;"
                 allow="geolocation">
                 Interaktivní mapa chemických podniků se načítá...
                 </iframe>
            </section>
            <section>
                {% for company in companies %}
                    {% for location in company.locations %}
                        {{ dump(company.logo) }}
                        <!-- MARKER: {{ location.location_name }} LOGO: {{ company.logo }} -->
                        <h5 class="text-center"><strong>{{ company.title|escape }}</strong></h5>
                        <h6 class="text-center">{{ location.location_name|escape }}</h6>
                    {% endfor %}
                {% endfor %}
            </section>
        </article>
    {% endblock article_content %}
{% endblock page_content %}
