{% extends "post-types/page.html.twig" %}

{# Page with interactive industry map. #}

{% set map = site.theme.link ~ '/images/others/map.png' %}

{% block body_content %}
    <div class="container">
        <article class="row post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="col-12">
                <div class="ratio ratio-21x9">
                    {% apply shortcodes %}
                        [leaflet-map]
                        {% for company in companies %}
                            {% for location in company.locations %}
                                <!-- MARKER: {{ location.name }} -->
                                [leaflet-marker
                                lat={{ location.latitude }}
                                lng={{ location.longitude }}
                                iconUrl="https://i.imgur.com/Q54ueuO.png"
                                iconSize="80,50"
                                iconAnchor="40,60"]
                            {% endfor %}
                        {% endfor %}
                    {% endapply %}
                </div>
            </section>
            <section class="col-12">
                {{ post.content }}
            </section>
        </article>
    </div>
{% endblock body_content %}
