{% extends "post-types/page.html.twig" %}

{% block article_content %}

    <nav class="nav row my-3 p-0 rounded-tabs" id="nav-tab">
        <button class="rounded-tab col m-0 mt-3 mx-1 px-5 px-xl-4 py-2 border border-2 border-primary active"
                id="nav-tab-0"
                data-bs-toggle="tab"
                data-bs-target="#nav-0"
                type="button"
                role="tab"
                aria-controls="nav-0"
                aria-selected="true">
            Náhodný test na chemické názvosloví
        </button>
    </nav>

    <section class="row">
        <div class="tab-content col-12" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-0" role="tabpanel" aria-labelledby="nav-tab-0">

                <div class="w-100 m-0 container-fluid p-0">

                    {% if post.content|default %}
                        <div class="row">
                            <div class="col-12">
                                {{ post.content|default(content|default) }}
                            </div>
                        </div>
                    {% endif %}

                    <form class="row">

                        <div class="form-group col-12 my-3">
                            <label for="categories" class="w-100">
                                <strong>Obsah zadání</strong>
                                <select id="categories" class="form-control w-100" multiple placeholder="" name="categories[]">
                                    {% for category in allCategories %}
                                        <option value="{{ category.slug }}"
                                                {{ categories|filter(cat => cat == category.slug)|length > 0 ? 'selected=selected' : '' }}>
                                            {{ category.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>

                        <div class="form-group col-12 col-md-6 my-3">
                            <label for="count" class="w-100">
                                <span class="d-block w-100"><strong>Počet příkladů</strong></span>
                                <select id="count" class="d-block w-100 form-select" name="count">
                                    {% for i in range(1, 20) %}
                                        <option value="{{ i }}" {{ count == i ? 'selected=selected' : '' }}>
                                            {{ i }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>

                        <div class="form-group col-12 col-md-6 my-3">
                            <label for="level" class="w-100">
                                <span class="d-block w-100"><strong>Obtížnost</strong></span>
                                <select id="level" class="d-block w-100 form-select" name="level">
                                    {% for oneLevel in allLevels %}
                                        <option value="{{ oneLevel.level }}" {{ ''~oneLevel.level == ''~level ? 'selected=selected' : '' }}>
                                            {{ oneLevel.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>

                        <div class="btn-group col-12 my-3" role="group" aria-label="GENEROVAT TEST">
                            <button type="submit" class="btn btn-outline-primary">
                                <strong>GENEROVAT TEST</strong>
                            </button>
                        </div>

                    </form>

                </div>

                <div class="w-100 m-0 mt-3 container-fluid p-0">

                    <div class="row">
                        <h3>Zadání testu</h3>
                        <ol class="ms-4">
                            {% for equation in equations %}
                                <li>
                                    {{ equation.content }}
                                </li>
                            {% endfor %}
                        </ol>
                    </div>

                    <div class="row">
                        <h3>Řešení testu</h3>
                        <a class="mb-3 text-primary fw-bolder"
                           data-bs-toggle="collapse"
                           href="#solutionsCollapse"
                           role="button"
                           aria-expanded="false"
                           aria-controls="solutionsCollapse">
                            Zobrazit/skrýt řešení
                        </a>
                        <ol class="ms-4 collapse" id="solutionsCollapse">
                            {% for equation in equations %}
                                <li>
                                    {{ equation.meta('_solution')|apply_filters('the_content') }}
                                </li>
                            {% endfor %}
                        </ol>
                    </div>

                </div>

            </div>
    </section>

{% endblock %}

{% block article_signpost %}
{% endblock %}
