{% extends "post-types/teach_material_cat.html.twig" %}

{% block article_content %}
    {% if (post.content|default and post.content|length > 0) or (content|default and content|length > 0) %}
        <section class="row my-3">
            <div class="col-12">
                {{ post.content|default(content|default) }}
            </div>
        </section>
    {% endif %}

    {% if subtypes|length > 1 %}
        <div class="row px-2 mt-0 mb-0" style="line-height: 1.1;">
            {% for oneSubType in subtypes %}
                <!-- ONE SUBTYPE -->
                {% set classes_common = "d-flex col m-0 mt-3 mx-1 px-5 px-xl-4 py-2 text-center align-items-center justify-content-center" %}
                {% set classes_border = "border border-2 border-primary" %}
                {% set classes = classes_common ~ " " ~ classes_border %}
                {% if subtype == oneSubType.slug %}
                    <a class="{{ classes }} bg-white text-primary" href="?oblast={{ oneSubType.slug }}"
                       style="border-top-left-radius: 1.25em !important; border-top-right-radius: 1.25em !important;">
                        <strong>{{ oneSubType.name }}</strong>
                    </a>
                {% else %}
                    <a class="{{ classes }} bg-primary text-white" href="?oblast={{ oneSubType.slug }}"
                       style="border-top-left-radius: 1.25em !important; border-top-right-radius: 1.25em !important;">
                        {{ oneSubType.name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% for material in materials %}
        <section class="row my-5 py-3 bg-dark bg-opacity-10">
            <div class="col-12 col-md-8 col-lg-7 d-flex align-items-start flex-column">
                <a href="{{ material.link }}" class="text-dark text-decoration-none">
                    <h3>{{ material.title }}</h3>
                </a>
                <div style="text-align: justify;">
                    {{ material.post_excerpt }}
                </div>
            </div>
            <div class="col-12 col-md-2 col-lg-3 d-flex flex-column justify-content-center order-lg-first">
                {% set image_src = material.thumbnail.src|default(get_image(material.meta('_menu_image')).src|default) %}
                {% if image_src|default and image_src|length > 0 %}
                    <a href="{{ material.link }}" title="{{ material.title }}" class="mb-3">
                        <img class="d-block img-fluid w-100 mh-100 p-2" src="{{ image_src }}" alt="{{ material.thumbnail.alt }}">
                    </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-2">

            </div>
        </section>
    {% endfor %}
    {% if materials|length < 1 %}
        <section class="row my-5">
            <div class="col-12">
                <p><strong>V této kategorii bohužel zatím nejsou žádná videa.</strong></p>
            </div>
        </section>
    {% endif %}
{% endblock article_content %}

{% block article_signpost %}
{% endblock article_signpost %}
