{% if sidebars.footer_banner|default %}
    <footer id="footer-banner" class="container mt-5">
        {{ include('widgets/eu-msmt-widget/eu-msmt-widget.html.twig') }}
        {# {{ sidebars.footer_banner|default }} #}
    </footer>
{% endif %}

{% if sidebars.footer_banner_fluid|default %}
    <footer id="footer-banner-fluid" class="container-fluid mt-5">
        {{ include('widgets/eu-msmt-widget/eu-msmt-widget.html.twig') }}
        {# {{ sidebars.footer_banner_fluid|default }} #}
    </footer>
{% endif %}

<footer id="footer-main" class="bg-primary text-light">
    <div class="container p-4">
        <div class="row">
            {% if sidebars.footer_left|default %}
                <aside class="col-12 col-lg">
                    {{ sidebars.footer_left|default }}
                </aside>
            {% endif %}
            <aside class="col-12 col-lg">
                Copyright {{ "now"|date('Y') }}
            </aside>
            {% if sidebars.footer_right|default %}
                <aside class="col-12 col-lg">
                    {{ sidebars.footer_right|default }}
                </aside>
            {% endif %}
        </div>
    </div>
</footer>
