{% set logo = site.theme.link ~ '/images/logo/prf_katedra-anorganicke-chemie_cz_barva.svg' %}

<!--suppress HtmlUnknownAnchorTarget -->
<a class="skip-link screen-reader-text d-none" href="#content">{{ _e( 'Skip to content') }}</a>

<header id="header" class="container website-header mt-0 mt-lg-2 mb-3">
    <div class="row justify-content-evenly">
        <h1 class="col-12 col-md-3 order-1 order-md-0 fs-6 fs-lg-5 py-1 py-lg-2">
            <a href="{{ site.url }}" rel="home" class="d-flex justify-content-center justify-content-lg-start">
                <span class="d-none">{{ site.name }}</span>
                <img src="{{ logo }}" alt="{{ site.name }}" class="img-fluid">
            </a>
        </h1>
        <nav class="col-12 col-md-9 order-0 order-md-1" role="navigation">
            {% include "post-parts/layout/menu.html.twig" with {'items': menu.primary.get_items} %}
        </nav>
    </div>
</header>

