<div class="sub-department-person mb-3">
    <a href="{{ person.link }}" class="text-body text-decoration-none">
        <h5>{{ person }}</h5>
    </a>
    {% if person.meta('position') %}
        <strong>{{ person.meta('position') }}</strong><br>
    {% endif %}
    {% if person.meta('phone') %}
        Telefon: {{ person.meta('phone') }}<br>
    {% endif %}
    {% if person.meta('fax') %}
        Fax: {{ person.meta('fax') }}<br>
    {% endif %}
    {% if person.meta('e_mail') %}
        E-mail: {{ person.meta('e_mail') }}<br>
    {% endif %}
</div>
