<article class="department-contact mb-5">
    {% if contact.url|default %}
        <a href="{{ contact.url|default }}" target="_blank" title="{{ contact.name|default(contact.department) }}">
            <h3>
                {{ contact.name|default(contact.department) }}
            </h3>
        </a>
    {% else %}
        <h3>{{ contact.name|default(contact.department) }}</h3>
    {% endif %}
    <address>
        {% if contact.department|default %}
            {% if contact.url|default %}
                <a href="{{ contact.url|default }}" target="_blank"
                   title="{{ contact.name|default(contact.department) }}">
                    <strong>{{ contact.department }}</strong><br>
                </a>
            {% else %}
                <strong>{{ contact.department }}</strong><br>
            {% endif %}
        {% endif %}

        {% if contact.faculty|default %}
            {{ contact.faculty }}<br>
        {% endif %}
        {% if contact.university|default %}
            {{ contact.university }}<br>
        {% endif %}
        {% if contact.street|default %}
            {{ contact.street }} {{ contact.house_number|default }}<br>
        {% endif %}
        {% if contact.postal_code|default %}
            {{ contact.postal_code }} {{ contact.city }}<br>
        {% endif %}
        {% if contact.phone|default %}
            Telefon: <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a><br>
        {% endif %}
        {% if contact.fax|default %}
            Fax: <a href="fax:{{ contact.fax }}">{{ contact.fax }}</a><br>
        {% endif %}
        {% if contact.e_mail|default %}
            E-mail: <a href="mailto:{{ contact.e_mail }}">{{ contact.e_mail }}</a><br>
        {% endif %}
        {% if contact.url|default %}
            URL: <a href="{{ contact.url }}">{{ contact.url }}</a><br>
        {% endif %}
        {% if contact.gps|default %}
            GPS: <a href="https://mapy.cz/?q={{ contact.gps|escape }}">{{ contact.gps }}</a><br>
        {% endif %}
    </address>
</article>
