<article class="sub-department-person mb-3">
    <header>
        <a href="{{ person.link }}" class="text-body text-decoration-none">
            <h5>{{ person }}</h5>
        </a>
    </header>
    {% if person.meta('_position') %}
        <strong>{{ person.meta('_position') }}</strong><br>
    {% endif %}
    {% if person.meta('_phone') %}
        Telefon: <a href="tel:{{ person.meta('_phone') }}">{{ person.meta('_phone') }}</a><br>
    {% endif %}
    {% if person.meta('_fax') %}
        Fax: {{ person.meta('_fax') }}<br>
    {% endif %}
    {% if person.meta('_e_mail') %}
        E-mail: <a href="mailto:{{ person.meta('_e_mail') }}">{{ person.meta('_e_mail') }}</a><br>
    {% endif %}
</article>
