<article class="department-contact mb-5">
    <h3>{{ singleContact.name|default(singleContact.department) }}</h3>
    <address>
        {% if singleContact.department|default %}
            <strong>{{ singleContact.department }}</strong><br>
        {% endif %}
        {% if singleContact.faculty|default %}
            {{ singleContact.faculty }}<br>
        {% endif %}
        {% if singleContact.university|default %}
            {{ singleContact.university }}<br>
        {% endif %}
        {% if singleContact.street|default %}
            {{ singleContact.street }} {{ singleContact.house_number|default }}<br>
        {% endif %}
        {% if singleContact.postal_code|default %}
            {{ singleContact.postal_code }} {{ singleContact.city }}<br>
        {% endif %}
        {% if singleContact.phone|default %}
            Telefon: <a href="tel:{{ singleContact.phone }}">{{ singleContact.phone }}</a><br>
        {% endif %}
        {% if singleContact.fax|default %}
            Fax: <a href="fax:{{ singleContact.fax }}">{{ singleContact.fax }}</a><br>
        {% endif %}
        {% if singleContact.e_mail|default %}
            E-mail: <a href="mailto:{{ singleContact.e_mail }}">{{ singleContact.e_mail }}</a><br>
        {% endif %}
        {% if singleContact.gps|default %}
            GPS: <a href="https://mapy.cz/?q={{ singleContact.gps }}">{{ singleContact.gps }}</a><br>
        {% endif %}
    </address>
</article>
